html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color: white;
    background-color: black;
  }

  textarea {
    color: white;
    background-color: black;
  }
}

#input {
  display: flex;
  flex-direction: row;
}

#input>* {
  display: block;
}

textarea {
  resize: none;
  height: 1.2em;
  width: 500px;
}