html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color: white;
    background-color: black;
  }

  textarea {
    color: white;
    background-color: black;
  }
}

body {
  margin: 0px;
  word-break: break-all;
}

#app {
  display: flex;
  flex-direction: row;
}

@media (prefers-color-scheme: dark) {
  button {
    color: white;
    background-color: black;
  }
}

#editor-pane button {
  border: 1px solid rgb(158, 158, 158);
  padding: 2px 6px;
  border-radius: 4px;
}


/* Editor pane */

#editor-pane {
  flex: 1 1 0;
  padding: 12px;
}

#editor-pane #input {
  display: flex;
  flex-direction: row;
}

#editor-pane #input>* {
  display: block;
}

#editor-pane textarea {
  resize: none;
  height: 1.8em;
  width: 500px;
}

#editor-pane #notes {
  width: 100%;
  white-space: pre-wrap;
}

#editor-pane .date {
  color: rgb(120, 120, 120);
  font-style: italic;
}

#editor-pane img.content {
  width: 256px;
}


/* Editor pane */

#explorer-pane {
  flex: 0 0 200px;
  position: sticky;
  top: 0;
  height: fit-content;
  padding: 12px;
}

#explorer-pane .section {
  margin-bottom: 12px;
}

#explorer-pane .section .name {
  color: rgb(165, 165, 165);
  font-weight: lighter;
}