html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --color: white;
  --color-border: hsl(230, 10%, 28%);
  --color-editor: hsl(230, 11%, 16%);
  --color-tool-bar: hsl(230, 8%, 10%);
  --color-tool: hsl(230, 12%, 18%);
  --color-editor-bar: hsl(230, 10%, 14%);
  --color-editor-index: hsl(230, 7%, 44%);
  --color-editor-selected: rgba(121, 221, 252, 0.371);
  --color-error: red;
  --color-editor-tag: gray;
  --color-explorer: rgba(0, 0, 0, 0);
  --color-explorer-header: rgb(234, 234, 234);
  --color-explorer-selected: rgb(63, 123, 200);
  --color-status: hsl(230, 8%, 10%);
  --color-button-1-back: rgb(63, 114, 226);
  --color-button-1-fore: rgb(255, 255, 255);
  --color-math-preview-border: #eee;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: black;
    --color-border: hsl(200, 12%, 80%);
    --color-editor: hsl(0, 0%, 100%);
    --color-tool-bar: hsl(200, 53%, 97%);
    --color-tool: hsl(200, 50%, 95%);
    --color-editor-bar: hsl(200, 32%, 92%);
    --color-editor-index: hsl(200, 7%, 44%);
    --color-editor-selected: rgba(121, 221, 252, 0.371);
    --color-explorer: rgba(0, 0, 0, 0);
    --color-explorer-header: rgb(0, 0, 0);
    --color-explorer-selected: rgb(63, 123, 200);
    --color-status: hsl(200, 53%, 97%);
    --color-button-1-back: rgb(63, 114, 226);
    --color-button-1-fore: rgb(255, 255, 255);
    --color-math-preview-border: #eee;
  }
}

html {
  color: var(--color);
}

textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
}

body {
  margin: 0;
  word-break: break-all;
}

a {
  color: inherit;
}

pre {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

#main {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

html,
body,
#root {
  height: 100%;
}

/* Tool bar */

#tool-bar {
  border-bottom: 1px solid var(--color-border);
  box-sizing: content-box;
  padding: 4px;
  min-height: 1em;
  line-height: 1;
  flex: 0 0 fit-content;
  background-color: var(--color-tool-bar);

  display: flex;
  flex-direction: row;
  gap: 4px;
}

#tool-bar .tool {
  border: 1px solid var(--color-border);
  padding: 0.15em 0.3em;
  background-color: var(--color-tool);
  color: var(--color);
  border-radius: 2px;
}

/* Editor pane */

#editor-pane {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: auto;
  max-width: 100%;
  background-color: var(--color-editor);
}

#editor-pane textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid var(--color-border);
  outline: none;
}

#editor-pane textarea:focus {
  border-bottom: 1px solid rgb(125, 210, 255);
}


/* Editor bar */

.editor-bar-section {
  background-color: var(--color-editor-bar);
  border-bottom: 1px solid var(--color-border);
  padding: 6px;
}

.editor-bar-section:nth-child(2) {
  flex: 0 0 32px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.editor-bar-section:nth-child(2)>* {
  display: block;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.editor-bar-section:nth-child(2) textarea {
  flex: 1 1 0;
}


/* Editor area */

#editor-area {
  flex: 1 1 0;
  padding: 12px;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 14px;
  line-height: 1.75;
}

#editor-area #nodes {
  white-space: pre-wrap;
}

#editor-area #nodes table {
  border-collapse: collapse;
  width: 100%;
}

#editor-area #nodes tr.invisible {
  height: 16px;
}

#editor-area #nodes td {
  padding: 0;
  vertical-align: top;
}

#editor-area #nodes td.grip {
  color: var(--color-editor-index);
  position: relative;
  width: 16px;
  min-width: 16px;
}

#editor-area #nodes td.grip svg {
  position: absolute;
  cursor: grab;
}

#editor-area #nodes td.index {
  color: var(--color-editor-index);
  padding-right: 4px;
  text-align: right;
  white-space: nowrap;
  font-family: monospace;
  user-select: none;
  width: 0px;
}

#editor-area #nodes td.date {
  color: var(--color-editor-index);
  padding-right: 4px;
  text-align: right;
  white-space: nowrap;
  font-style: italic;
}

#editor-area #nodes .node {
  padding-left: 8px;
  position: relative;
  display: flex;
  flex-direction: row;
}

#editor-area #nodes .node.selected {
  background-color: var(--color-editor-selected);
}

#editor-area #nodes .node.selected::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  left: 0px;
}

#editor-area #nodes textarea {
  width: 100%;
  padding-left: 8px;
}

#editor-area .error {
  color: var(--color-editor-error);
}

#editor-area .tags {
  margin-left: 4px;
  color: var(--color-editor-tag);
}

#editor-area .image-node img {
  max-width: 100%;
  border-radius: 4px;
  display: block;
}

#editor-area .anchor-node {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

#editor-area .anchor-node .image {
  display: flex;
  align-items: center;
}

#editor-area .anchor-node .url {
  font-family: monospace;
}

#editor-area .anchor-node .title {
  font-size: 18px;
}

#editor-area .anchor-node img {
  width: 192px;
  display: block;
}

#editor-area .math-node .katex-display {
  margin: 0;
  padding: .25em 0;
}

#editor-area .math-node .katex-display>.katex>.katex-html {
  width: fit-content;
}

#editor-area .heading-node {
  font-size: 2em;
  font-weight: bold;
}


/* Explorer pane */

#explorer-pane {
  flex: 0 0 200px;
  top: 0;
  padding: 12px;
  overflow-y: auto;
  background-color: var(--color-explorer);
  border-right: solid 1px var(--color-border);
  user-select: none;
  font-size: 14px;
}

#explorer-pane .section {
  margin-bottom: 24px;
}

#explorer-pane .section:last-child {
  margin-bottom: 0;
}

#explorer-pane .section .header {
  color: var(--color-explorer-header);
  font-weight: lighter;
  display: flex;
  flex-direction: row;
}

#explorer-pane .section .header .name {
  flex: 1 1 0;
}

#explorer-pane .section .header .menu {
  cursor: pointer;
}

#explorer-pane .item {
  cursor: default;
  padding: 1px 4px;
  border-radius: 3px;
  border: 1px solid transparent;
}

#explorer-pane .selected {
  background-color: var(--color-explorer-selected)
}

#explorer-pane .dragged {
  border: 1px solid var(--color-explorer-selected);
}


/* Status bar */

#status-bar {
  border-top: 1px solid var(--color-border);
  box-sizing: content-box;
  padding: 4px;
  min-height: 1em;
  line-height: 1;
  flex: 0 0 fit-content;
  background-color: var(--color-status);
}


/* Dialog */

dialog {
  padding: 24px;
  border: none;
  border-radius: 8px;
  max-width: 100vw;
}

dialog::backdrop {
  backdrop-filter: blur(8px);
}

.dialog-title {
  margin-bottom: 24px;
  font-weight: bold;
}

.dialog-buttons {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
}

.dialog-buttons .left {
  flex: 1 1 0;
}

input[type="text"] {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-border);
  font-size: 16px;
  width: 256px;
}

input[type="text"].invalid {
  border-bottom: 1px solid var(--color-error);
}

.dialog-buttons button {
  padding: 5px 12px;
  border-radius: 4px;
  min-width: 80px;
  border: none;
}

.dialog-buttons button.highlighted {
  background-color: var(--color-button-1-back);
  color: var(--color-button-1-fore);
}


/* Math Block Dialog */

textarea.exp-input {
  resize: none;
  width: 100%;
  height: fit-content;
}

.math-preview {
  margin-top: 4px;
  border: 1px solid var(--color-math-preview-border);
  overflow-x: auto;
}

.math-preview.error {
  color: var(--color-error);
}